.wrapper{
    display: flex;
}

.leftPoster{
    background-color: #17a2b8 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 3;
    height: 100vh;
}

.imageDiv{
    margin-bottom: 2rem;
}

.outletDiv{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex:2;
}

