.welcomeDiv {
  display: flex;
  justify-content: space-between;
}

.boardDiv {
  margin-top: 2rem;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}

.select {
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
}

select:focus {
  outline: none;
}

.addPeopleDiv {
  display: flex;
  gap: 0.4rem;
  cursor: pointer;
}

.textWrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}
